<div class="row">
  <div class="large-12 columns">
    <h2>Ask your Question</h2>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', questions_path, :class => "[small] button" %>
  </div>
</div>
